/**
question.blade.php
**/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 1px solid #003366; /* Cor do contorno */
  border-color: #003366; /* Cor da borda */
}

/* Estilo para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-link {
  color: #003366;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 5px;
}

.pagination .page-link:hover {
  text-decoration: underline;
}

.question {
  margin-bottom: 30px; /* Adds spacing between questions */
  padding: 20px;
  background-color: #f8f9fa; /* Light background for each question */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question h2 {
  font-size: 1.25rem; /* Adjusting the question title font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.question h2 a {
  color: #007bff;
  text-decoration: none;
}

.question p {
  font-size: 1rem;
  color: #333;
}

.question-meta {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #6c757d;
}

.question-meta a {
  color: #007bff;
  text-decoration: none;
}

.question-meta span {
  margin-right: 15px;
}

.card {
  background-color: #f0f0f0;  /* Cor de fundo */
  border-radius: 8px;  /* Bordas arredondadas */
  padding: 20px;  /* Espaçamento interno */
  margin-bottom: 20px;  /* Espaço entre os cartões */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  transition: transform 0.3s, box-shadow 0.3s;  /* Transição suave para o efeito de hover */
}


.card:hover {
  transform: translateY(-5px);  /* Move o cartão para cima */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  /* Aumenta a sombra para dar destaque */
}

/* Texto azul marinho */
body {
  color: #003366;  /* Azul marinho */
}


.card h2, .card p {
  color: #003366;  /* Azul marinho */
}


button, .btn, .btn-primary {
  background-color: #003366;  /* Azul marinho */
  border-color: #003366;
  color: #ffffff;  /* Branco para o texto do botão */
}



button:hover, .btn:hover {
  background-color: #002244;  /* Azul marinho escuro para o hover */
  border-color: #002244;
}


a, a.button, a.button.button-outline {
  color: #003366;  /* Azul marinho */
  text-decoration: none;
}

a:hover, a.button:hover {
  color: #002244;  /* Azul marinho escuro para o hover */
}

/* Foco em campos de entrada */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #003366;  /* Azul marinho */
}


#toggle-order-questions, .search-container button {
  background-color: #003366;  /* Azul marinho */
  border-color: #003366;
  color: #ffffff;
}

#toggle-order-questions:hover, .search-container button:hover {
  background-color: #002244;  /* Azul marinho escuro para o hover */
  border-color: #002244;
}

/**
home.blade.php
**/
#home {
  margin-top: 30px;
}
#home > h2 {
  text-align: center;
  margin: 0 auto; 
  font-size: 4em; 
  color: #003366; 
  margin-bottom: 40px;
  font-weight: 1000;
}

/* Botão Create New Question */
.create-question-btn {
    background-color: #003366;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.create-question-btn:hover {
    background-color: #002244;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


#toggle-order-questions {
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

#toggle-order-questions:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}





/**
layouts/app.blade.php
**/

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main deve ocupar o espaço disponível */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Estilo do footer */
footer {
  background-color: #343a40;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
  color: #ffffff; 
  margin-top: auto; 
}

footer a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px; 
}

footer a:hover {
  text-decoration: underline;
}

/* Header Container */
.header-container {
  background-color: #343a40; /* Dark background */
  color: white;
  padding: 25px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* Distribute items with space between */
  align-items: center; /* Vertically center items */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

/* Logo Section */
.header-container h1 a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.search-container{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Search Bar Section */
.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px; /* Define a maximum width for the search bar */
  width: 100%;
  margin: 0 auto;
}

.search-container .form-control {
  margin-right: 10px;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
}

.search-container .btn {
  background-color: #003366;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.log , a.btn.btn-primary {
  color: white;
}
/* Dropdown Section */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown .dropbtn:hover {
  background-color: #002244;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
/* Footer */
footer {
  background-color: #343a40;;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



/*Profile*/


#profile > h1{
  text-align: center;
  margin: 0 auto; 
  font-size: 3em; 
  color: #003366; 
  margin-bottom: 30px;
  font-weight: 1000;
}

.mt-3{
  margin-bottom: 40px;
}

.profile-btn {
  background-color: #003366;
  border-color: #003366;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  
}

.profile-btn:hover {
  background-color: #002244;
  color: white;
  border-color: #002244;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.profile-content {
  display: flex;
  justify-content: space-between; /* Garante que as colunas fiquem distribuídas com espaçamento */
  gap: 20px; /* Espaço entre as colunas */
  flex-wrap: wrap;
}


.profile-content .col-md-6 {
  flex: 1 1 calc(50% - 10px); /* Garantir que as colunas ocupem 50% da largura, com margem */
  margin-bottom: 20px; /* Espaçamento abaixo de cada coluna */
}

.profile-content .col-md-6 h4 {
  font-weight: 1000;
}


.profile-question-card,
.profile-answer-card {
  margin-bottom: 15px; /* Espaço entre os cartões */
}

.profile-question-card .card-body,
.profile-answer-card .card-body {
  padding: 15px; /* Padding menor dentro dos cartões */
}

.profile-question-card .card-body > h5  a {
  font-weight: 1000;
}


.profile-btn-danger,
.profile-btn-success {
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}




/*User search*/

/* Estilo do título da pesquisa */
.search-users > h2 {
  font-weight: 1000;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Estilo dos links de usuário */
.user-item > a {
  text-decoration: none; /* Remove o sublinhado */
  color: #003366; /* Cor azul do link */
  font-weight: 600;
}

/* Estilo do item de usuário (cartão) */
.user-item {
  margin-bottom: 20px; /* Espaço entre os cartões */
  margin-left: 20px;
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  background-color: #f0f0f0; /* Cor de fundo clara */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombras suaves para o efeito de cartão */
  transition: transform 0.3s, box-shadow 0.3s; /* Transição suave para efeito de hover */
  width: 30%;
}

/* Efeito de hover no cartão */
.user-item:hover {
  transform: translateY(-5px); /* Move o cartão para cima */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para efeito de destaque */
}


/*Create question*/

/* Estilo para a seção do formulário de criar pergunta */
#ask-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa;  /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Título "Ask a Question" */
#ask-question h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;  /* Espaçamento abaixo do título */
  text-align: center;
  color: #003366;
}

/* Estilo para o formulário */
#ask-question form {
  width: 100%;
  max-width: 600px;  /* Limita a largura do formulário */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
#ask-question .form-group label {
  font-weight: 500;
  color: #003366;
}

#ask-question .form-group input,
#ask-question .form-group textarea {
  max-width: 550px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Estilo para o botão de envio */
#ask-question .button {
  background-color: #003366;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#ask-question .button:hover {
  background-color: #002244;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo para a mensagem de erro */
.alert-danger {
  width: 100%;
  max-width: 600px;  /* Limita a largura da mensagem de erro */
  margin-bottom: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  padding: 15px;
}



/*Question page*/

.card > h1 {
  font-size: 30px;
}

.question-answers > h3 {
  margin-top: 20px;
}

.card > .question-meta > span {
  color:#003366;
  font-size: 17px;
}

.card > .question-meta > span > a {
  color:#011931;

}

.card > .question-meta > span > a:hover {
  color:#002244;
}

#toggle-answer-form {
  background-color: #003366;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

#toggle-answer-form:hover {
  background-color: #002244;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


#toggle-order {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#toggle-order:hover {
  background-color: #002244;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.answer {
  background-color: #f0f0f0;  /* Cor de fundo */
  border-radius: 8px;  /* Bordas arredondadas */
  padding: 20px;  /* Espaçamento interno */
  margin-bottom: 20px;  /* Espaço entre os cartões */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  transition: transform 0.3s, box-shadow 0.3s;  /* Transição suave para o efeito de hover */
}


.answer:hover {
  transform: translateY(-5px);  /* Move o cartão para cima */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  /* Aumenta a sombra para dar destaque */
}


.answer-meta > span > a{
  color:#011931;
}

.answer-meta > span > a:hover{
  color:#002244;
}


/*Edit Answer*/


#edit-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa;  /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Título "Edit Answer" */
#edit-answer h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;  /* Espaçamento abaixo do título */
  text-align: center;
  color: #003366;
}

/* Estilo para o formulário */
#edit-answer form {
  width: 100%;
  max-width: 600px;  /* Limita a largura do formulário */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
#edit-answer .form-group label {
  font-weight: 500;
  color: #003366;
}

#edit-answer .form-group textarea {
  max-width: 550px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Estilo para o botão de envio */
#edit-answer button {
  background-color: #003366;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#edit-answer button:hover {
  background-color: #002244;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo para a mensagem de erro */
.alert-danger {
  width: 100%;
  max-width: 600px;  /* Limita a largura da mensagem de erro */
  margin-bottom: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  padding: 15px;
}



/*Edit Question*/

#edit-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa;  /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Título "Edit Question" */
#edit-question h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;  /* Espaçamento abaixo do título */
  text-align: center;
  color: #003366;
}

/* Estilo para o formulário */
#edit-question form {
  width: 100%;
  max-width: 600px;  /* Limita a largura do formulário */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
#edit-question .form-group label {
  font-weight: 500;
  color: #003366;
}

#edit-question .form-group input,
#edit-question .form-group textarea {
  max-width: 550px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}


#edit-question button {
  background-color: #003366;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#edit-question button:hover {
  background-color: #002244;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo para a mensagem de erro */
.alert-danger {
  width: 100%;
  max-width: 600px;  /* Limita a largura da mensagem de erro */
  margin-bottom: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  padding: 15px;
}


/*Edit Profile*/

#edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa; /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


#edit-profile h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px; /* Espaçamento abaixo do título */
  text-align: center;
  color: #003366;
}

/* Estilo para o formulário */
#edit-profile form {
  width: 100%;
  max-width: 600px; /* Limita a largura do formulário */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
#edit-profile .form-group label {
  font-weight: 500;
  color: #003366;
}

#edit-profile .form-group input,
#edit-profile .form-group textarea {
  max-width: 550px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Estilo para o botão de envio */
#edit-profile .button {
  background-color: #003366;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#edit-profile .button:hover {
  background-color: #002244;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo para mensagens de sucesso/erro */
.alert-success {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 5px;
  padding: 15px;
}

.alert-danger {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  padding: 15px;
}

/* Search page*/

#search-results {
  padding: 20px;
  margin: 60px auto; /* Centraliza o conteúdo */
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Título dos resultados */
#search-results h1 {
  font-size: 2.5rem;
  color: #003366;
  font-weight: 1000;
  margin-bottom: 20px;
  text-align: center;
}

/* Mensagem de nenhum resultado encontrado */
#search-results .no-results {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

/* Lista de resultados */
.results-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os cartões */
}


/*Login*/

#login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa;  /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


/* Estilo do formulário de login */
#login-section form {
  width: 100%;
  max-width: 400px; /* Limita a largura do formulário */
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os labels */
#login-section form label {
  font-weight: 600;
  color: #003366;
  margin-bottom: 5px;
  display: block;
}

/* Botão de Login */
#login-section form button {
  background-color: #003366;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#login-section form button:hover {
  background-color: #002244;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Link de registo */
#login-section .button-outline {
  background-color: transparent;
  border: 2px solid #003366;
  color: #003366;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#login-section .button-outline{
  font-size: 1.2rem;
  font-weight: 600;
}

#login-section .button-outline:hover {
  background-color: #003366;
  color: #ffffff;
}

/* Mensagens de erro */
#login-section .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

/* Mensagens de sucesso */
#login-section .success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  font-size: 0.9rem;
}


/*Register*/

#register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da página */
  padding: 20px;
  background-color: #f8f9fa; /* Cor de fundo suave */
  margin: 60px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Estilo do formulário de registo */
#register-section form {
  width: 100%;
  max-width: 400px; /* Limita a largura do formulário */
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos labels */
#register-section form label {
  font-weight: 600;
  color: #003366;
  margin-bottom: 5px;
  display: block;
}

/* Campos de entrada (input) */
#register-section form input {
  max-width: 350px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Botão de registo */
#register-section form button {
  background-color: #003366;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#register-section form button:hover {
  background-color: #002244;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botão alternativo (Login) */
#register-section .button-outline {
  background-color: transparent;
  border: 2px solid #003366;
  color: #003366;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}

#register-section .button-outline:hover {
  background-color: #003366;
  color: #ffffff;
}

/* Mensagens de erro */
#register-section .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

/* Mensagens de sucesso */
#register-section .success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  font-size: 0.9rem;
}
